<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/app.css?v=<?= time() ?>">
  <link rel="stylesheet" href="/assets/css/editor.css?v=<?= time() ?>">
  <link rel="stylesheet" href="/assets/css/media.css?v=<?= time() ?>">
  <link rel="stylesheet" href="/assets/css/bootstrap-icons.css">
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

  <title>
    <?= 'title' ?>
  </title>
</head>

<body>
  <div class="main">
    {{content}}
  </div>

</body>

</html>
<script src="/assets/js/app.js?v=<?= time() ?>"></script>
