<body class="bg-white">
  <div class="nc-editor">

    <div class="nc-editor-tools">
      <?= parts('editor.editor-tools') ?>
    </div>

    <div class="nc-editor-main-contain">

      <div class="options-tools">
        <div class="template-name">
          <div class="open-close-editor-tools">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </div>
          <span class="name">Template name here</span>
        </div>

        <div class="responsive-view">
          <a href="" class="active"> <small class="bi-laptop"></small> </a>
          <a href=""> <small class="bi-tablet-landscape"></small> </a>
          <a href=""> <small class="bi-tablet"></small> </a>
          <a href=""> <small class="bi-phone"></small> </a>
        </div>

        <div class="actions">
          <a href=""> <small class="bi-chevron-up"></small> </a>
          <a href=""> <small>Previsualizar</small> </a>
          <a href=""> <small>Salvar</small> </a>
        </div>
      </div>

      <div class="containIframe">
        <iframe src="<?= $to['url'] ?>" frameborder="0" scrolling="no"></iframe>
      </div>


    </div>


  </div>
</body>
<script src="/assets/js/editor/index.js?v=<?= time() ?>"></script>

<script>
  const openColseEditor = document.querySelector('.open-close-editor-tools');
  const toolsBar = document.querySelector('.nc-editor-tools');
  const mainContain = document.querySelector('.nc-editor-main-contain');

  openColseEditor.addEventListener('click', (e) => {
    toolsBar.classList.toggle('hide');
    mainContain.classList.toggle('expand');
  });
</script>
