Options -Indexes

Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Credentials true
Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
Header set Access-Control-Allow-Headers "Content-Type"

RewriteEngine On
RewriteBase /s-nocode/
RewriteRule ^$ public/$1 [L]
RewriteRule (.+) public/ [L]
