@import url('../general-sans.css');
@import url('../all-fonts.css');

@import "reset.css";
@import "classes.css";
@import "colors.css?v=2";
@import "components/cards.css";
@import "typography.css";
@import "displays.css";
@import "button.css";
@import "grid.css?v=1";
@import "navbar.css";
@import "table.css";
@import "wrapper.css";
@import "media.css";

body {
    font-family: 'Roboto-Light';
    background-color: #f9f9f9ad;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/*
navbar
*/
.navbar {
    box-shadow: none;
    border: solid 1px rgba(0, 0, 0, 0.03);
}

.navbar .nav-app {
    gap: 5px;
    color: #f71;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-family: 'Roboto-Bold';
}

.navbar a.__nav-link {
    color: #000;
    font-size: 15px;
    font-family: 'Roboto-Light';
    position: relative;
}

.navbar a.__nav-link::after {
    content: '';
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #f71;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}

.navbar .__nav-item.active a.__nav-link::after,
.navbar a.__nav-link:hover::after {
    width: 100%;
}

.navbar .__nav-item.active a.__nav-link,
.navbar a.__nav-link:hover {
    color: #f71;
}


/*
card-plan
*/
.card-plan {
    background-color: #fff;
    padding: 1rem 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.07);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.card-plan-top>.title {
    font-family: 'Roboto-Bold';
}

.card-plan-top>.title+div {
    margin-top: -5px;
    margin-bottom: 1rem;
    gap: 1rem;
}

.card-plan-item {
    gap: 0.5rem;
}

.card-plan-item+.card-plan-item {
    margin-top: 0.5rem;
}

.card-plan-item .bi {
    width: 15px;
    height: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #f71;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.card-plan-item:last-of-type {
    margin-bottom: 0.5rem;
}


/*
mobileMenu
*/

.mobileMenu {
    position: relative;
}

.mobileMenu-top {
    position: relative;
    height: 60px;
    background-color: #fff;
    box-shadow: none;
    border: solid 1px rgba(0, 0, 0, 0.03);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11111;
}

.mobileMenu-top [class*="container"] {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobileMenu-top .nav-app {
    gap: 5px;
    color: #f71;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-family: 'Roboto-Bold';
}

.openMenu {
    width: 35px;
    height: 28px;
    border: solid 1px #f71;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.openMenu .lineMenu {
    width: 80%;
    height: 2px;
    display: block;
    background-color: #f71;
}

.mobileMenu-contain {
    top: 0;
    right: 0;
    width: 280px;
    height: 100%;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
    border: solid 1px rgba(0, 0, 0, 0.03);
    z-index: 111111;
}