/*body{
    background-color:black;
}
header{
    background-color:beige;
    color: darkorange;
    font-family:Arial, Helvetica, sans-serif

}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

ul,
ol {
    list-style: none;
}

body {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

nav {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 70px;
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    z-index: 1111111111;
}

nav ul,
nav li,
nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li+li {
    margin-left: 1rem;
}

nav>a {
    font-weight: bold;
    color: #000;
    font-size: 18px;
}

.fundo {
    width: 100%;
    height: 90vh;
    background: url('../img/1_fhZyEvPoi-8Z-FYRhZxnmw.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fundo::after {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.4;
    background: #000;
}

.fundo .texto {
    z-index: 111;
    position: relative;
    color: #fff;
    text-align: center;
}

.fundo span {
    display: block;
    margin-top: 1rem;
}

footer .linha {
    width: 100%;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content: space-between;
}


footer {
    margin-top: auto;
    padding: 40px 10% 30px;
    background-color: #f1f1f1;
}

footer .titulo {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

footer .icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .icon {
    display: flex;
    align-items: center;
    background-color: #07f;
    color: #fff;
    height: 28px;
    gap: 5px;
    cursor: pointer;
    padding-right: 10px;
    padding-left: 2px;
}

footer .icon:hover {
    opacity: 0.9;
}

footer .icon .caixa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    background-color: #02f;
    color: #fff;
    font-weight: bold;
}

footer .siga {
    display: block;
    margin-top: 20px;
    margin-bottom: 8px;
}

footer informacao {
    width: 45%;
}

footer #localidade,
footer #Contactos {
    width: 22%;
}

footer .titulo_2 {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

footer #localidade small,
footer #Contactos small {
    display: block;
    margin-top: 10px;
    color: #8a8a8a;
}

footer .linha+.linha {
    margin-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 30px;
}

.centralizado {
    width: 100%;
    display: block;
    text-align: center;
}



.secao {
    padding: 30px 10%;
}

.titulo-secao {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    display: block;
}

.corpo-secao {
    margin-top: 20px;
    padding: 16px;
    text-align: center;
}

.destaque {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.destaque-item {
    width: 240px;
    height: 210px;
    max-width: 100%;
    position: relative;
    text-align: left;
}

.destaque-item .contem-img {
    width: 100%;
    height: 80%;
    position: relative;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.destaque-item .contem-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.destaque-item span {
    display: block;
}

.destaque-servico {
    width: 240px;
    max-width: 100%;
    height: 320px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.destaque-servico .contem-img {
    width: 100%;
    height: 35%;
    position: relative;
}

.destaque-servico .contem-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
}

.destaque-servico .contem-img + span {
    display: block;
    text-align: left;
    padding: 0 1rem;
    margin: 0.5rem 0 -2px;
    font-weight: bold;
}

.destaque-servico .contem-img + span + small {
    text-align: left;
    display: block;
    padding: 0 1rem;
}

.destaque-servico .detalhes small {
    display: block;
    text-align: left;
    padding: 0 1rem;
    margin: 1rem 0;
}

.destaque-servico button {
    outline: none;
    background-color: #000;
    color: #fff;
    border: solid 1px transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 35px;
    margin: 0 auto;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
}