RewriteEngine On

RewriteCond %{HTTP_HOST} ^(.+)/template/v1/
RewriteRule ^(.*)$ /storage/templates/defaults/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ ./index.php [QSA,L]