@import url('general-sans.css');
@import url('all-fonts.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'GeneralSans-Regular';
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  font-family: 'Roboto-Regular';
  background-color: #151521;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.ncode-container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.ncode-navbar {
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  position: sticky;
}

.ncode-navbar .ncode-container {
  display: flex;
  height: 100%;
  align-items: center;
}

.ncode-app {
  color: #fdfdfd;
  font-family: 'Roboto-Bold';
  font-size: 20px;
}

.ncode-nav-items {
  display: flex;
  align-items: center;
  margin-left: 4rem;
  flex: 1;
}

.nav-item+.nav-item {
  margin-left: 2rem;
}

.nav-link {
  color: rgba(255, 255, 255, 0.4);
  position: relative;
}

.nav-item.active .nav-link,
.nav-item:hover .nav-link {
  color: #fdfdfd;
}

.nav-item.login {
  margin-left: auto;
}

.login a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  padding: 0.4rem 1rem;
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
}



/*
HEADER
*/

header {
  width: 100%;
  height: 90vh;
  position: relative;
}
/*
header::after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.2;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), #180E32);
}*/

.wallpaper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url('../images/back.png');
  background-size: cover;
  opacity: 0.2;
}


.nocode-header-caption {
  top: 20vh;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}


.bold {
  font-size: 34px;
  line-height: 34px;
  font-family: 'Roboto-Bold';
  color: #fdfdfd;
  display: block;
  margin-bottom: 10px;
}

.tw-muted {
  color: #8A8A8A;
  display: block;
}
