.bg-orange {
    background-color: #f71 !important;
}

.bg-green {
    background-color: #32a852 !important;
}

.contain-wrapper [class*="container"] {
    display: flex;
    align-items: flex-start;
}

.wr-sidebar {
    width: 20%;
    top: calc(3rem + 50px);
    position: sticky;
}

.wr-sidebar-item {
    width: 100%;
    height: 35px;
    position: relative;
}

.wr-sidebar-item + .wr-sidebar-item {
    margin-top: 1rem;
}

.wr-sidebar-separator {
    width: 100%;
    height: 2px;
    margin: 1rem 0;
    background-color: #c3d4da;
}

.wr-sidebar-link {
    color: #000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 1rem;
    border-radius: 2px;
}

.wr-sidebar-link:hover {
    color: #f71;
}

.wr-sidebar-link.active {
    color: #fff;
    background-color: #f71;
    pointer-events: none;
}

.contain-pages {
    width: 80%;
    position: relative;
    transition: width 0.15s ease-in-out;
}

.contain-pages .card-top .row {
    width: 100%;
}

.wr-sidebar-overlay {
    opacity: 0;
    pointer-events: none;
    transition: 0.15s ease;
}

@media (max-width: 992px) {
    .wr-sidebar-overlay {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 1111;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .wr-sidebar-overlay.show {
        opacity: 1 !important;
        pointer-events: all;
        cursor: pointer;
    }
    .wr-sidebar {
        right: -100%;
        width: 70px;
        position: fixed;
        z-index: 11111;
        border-radius: 10px 0 0 10px;
        background-color: #212529;
        transition: right 0.15s linear;    
    }
    .wr-sidebar.show {
        right: 0;
    }
    .wr-sidebar .wr-sidebar-item {
        height: 45px;
    }
    .wr-sidebar .wr-sidebar-link {
        color: #8a8a8a;
        justify-content: center;
    }
    .wr-sidebar .wr-sidebar-item:hover .wr-sidebar-link {
        color: #f71;
    }
    .wr-sidebar .wr-sidebar-link.active {
        color: #fff !important;
    }
    .wr-sidebar .wr-sidebar-link .text {
        display: none;
    }
    .contain-pages {
        width: 100%;
    }
    .contain-wrapper .container-sm {
        padding: 0;
    }
}