*,
*::after,
*::before {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/v2.0 | 20110126 License: none (public domain)*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  outline: 0;
  background: transparent;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

hr {
  background: transparent;
  border: 0;
  clear: both;
  color: transparent;
  height: 1px;
  margin: 0;
  padding: 0;
}

mark {
  background-color: #ffffb3;
  font-style: italic;
}

input,
select {
  vertical-align: middle;
}

ins {
  background-color: red;
  color: white;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container,
.container-max,
.container-max-xs,
.container-max-sm,
.container-max-md,
.container-max-lg,
.container-max-xl,
.container-max-xxl,
.container-fluid,
.container-xs,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.container-max {
  width: 80%;
}

.col-predefinition, .col,
.col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.row,
[class*=col-] {
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-auto {
  width: 100%;
  max-width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.row-no-margin {
  margin-left: 0;
  margin-right: 0;
}

.row-no-padding [class*=col-] {
  padding-left: 0;
  padding-right: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.offset-12 {
  margin-left: 100%;
}

@media (min-width: 240px) {
  .container,
  .container-max,
  .container-max-xs,
  .container-fluid,
  .container-xs,
  .col-auto,
  .col {
    max-width: 208px;
  }
  .col-xs-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-xs-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xs-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-xs-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xs-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-xs-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xs-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-xs-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 576px) {
  .container,
  .container-max,
  .container-max-xs,
  .container-max-sm .container-fluid,
  .container-xs,
  .container-sm,
  .col-auto,
  .col {
    max-width: 544px;
  }
  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container,
  .container-max,
  .container-max-xs,
  .container-max-sm,
  .container-max-md,
  .container-fluid,
  .container-xs,
  .container-sm,
  .container-md,
  .col-auto,
  .col {
    max-width: 736px;
  }
  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container,
  .container-max,
  .container-max-xs,
  .container-max-sm,
  .container-max-md,
  .container-max-lg,
  .container-fluid,
  .container-xs,
  .container-sm,
  .container-md,
  .container-lg,
  .col-auto,
  .col {
    max-width: 960px;
  }
  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-max,
  .container-max-xs,
  .container-max-sm,
  .container-max-md,
  .container-max-lg,
  .container-max-xl,
  .container-fluid,
  .container-xs,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .col-auto,
  .col {
    max-width: 1168px;
  }
  .col-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-max,
  .container-max-xs,
  .container-max-sm,
  .container-max-md,
  .container-max-lg,
  .container-max-xl,
  .container-max-xxl,
  .container-fluid,
  .container-xs,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl,
  .col-auto,
  .col {
    max-width: 1368px;
  }
  .col-xxl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.d-flex {
  display: flex !important;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.fd-row {
  flex-direction: row !important;
}

.fd-row-reverse {
  flex-direction: row-reverse !important;
}

.fd-column {
  flex-direction: column !important;
}

.fd-column-reverse {
  flex-direction: column-reverse !important;
}

.fw-wrap {
  flex-wrap: wrap;
}

.fw-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.fw-nowrap {
  flex-wrap: nowrap;
}

.fgrow-0 {
  flex-grow: 0;
}

.fgrow-1 {
  flex-grow: 1;
}

.fshrink-0 {
  flex-shrink: 0;
}

.fshrink-1 {
  flex-shrink: 1;
}

.fbasis-0 {
  flex-basis: 0;
}

.fbasis-1 {
  flex-basis: 1;
}

.ai-start {
  align-items: start !important;
}

.ai-baseline {
  align-items: baseline !important;
}

.ai-first-baseline {
  align-items: first baseline !important;
}

.ai-last-baseline {
  align-items: last baseline !important;
}

.ai-stretch {
  align-items: stretch !important;
}

.ai-center {
  align-items: center !important;
}

.ai-end {
  align-items: end !important;
}

.ai-normal {
  align-items: normal !important;
}

.ai-safe {
  align-items: safe !important;
}

.ai-self-end {
  align-items: self-end !important;
}

.ai-self-start {
  align-items: self-start !important;
}

.as-self-start {
  align-self: self-start !important;
}

.as-baseline {
  align-self: baseline !important;
}

.as-first-baseline {
  align-self: first baseline !important;
}

.as-last-baseline {
  align-self: last baseline !important;
}

.as-stretch {
  align-self: stretch !important;
}

.as-center {
  align-self: center !important;
}

.as-end {
  align-self: end !important;
}

.as-normal {
  align-self: normal !important;
}

.as-safe {
  align-self: safe !important;
}

.as-self-end {
  align-self: self-end !important;
}

.as-self-start {
  align-self: self-start !important;
}

.jc-start {
  justify-content: start !important;
}

.jc-baseline {
  justify-content: baseline !important;
}

.jc-first-baseline {
  justify-content: first baseline !important;
}

.jc-last-baseline {
  justify-content: last baseline !important;
}

.jc-stretch {
  justify-content: stretch !important;
}

.jc-center {
  justify-content: center !important;
}

.jc-end {
  justify-content: end !important;
}

.jc-safe {
  justify-content: safe !important;
}

.jc-unsafe {
  justify-content: unsafe !important;
}

.jc-right {
  justify-content: right !important;
}

.jc-left {
  justify-content: left !important;
}

.jc-initial {
  justify-content: initial !important;
}

.jc-normal {
  justify-content: normal !important;
}

.jc-space-evenly {
  justify-content: space-evenly !important;
}

.jc-space-between {
  justify-content: space-between !important;
}

.jc-space-around {
  justify-content: space-around !important;
}

.js-start {
  justify-self: start !important;
}

.js-baseline {
  justify-self: baseline !important;
}

.js-first-baseline {
  justify-self: first baseline !important;
}

.js-last-baseline {
  justify-self: last baseline !important;
}

.js-stretch {
  justify-self: stretch !important;
}

.js-center {
  justify-self: center !important;
}

.js-end {
  justify-self: end !important;
}

.js-safe {
  justify-self: safe !important;
}

.js-unsafe {
  justify-self: unsafe !important;
}

.js-right {
  justify-self: right !important;
}

.js-left {
  justify-self: left !important;
}

.js-initial {
  justify-self: initial !important;
}

.js-normal {
  justify-self: normal !important;
}

.js-space-evenly {
  justify-self: space-evenly !important;
}

.js-space-between {
  justify-self: space-between !important;
}

.js-space-around {
  justify-self: space-around !important;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-7 {
  gap: 1.75rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-9 {
  gap: 2.25rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-11 {
  gap: 2.75rem;
}

.gap-12 {
  gap: 3rem;
}

.order-first {
  order: -1;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}

.order-last {
  order: 13;
}

@media (min-width: 240px) {
  .gap-xs-1 {
    gap: 0.25rem;
  }
  .gap-xs-2 {
    gap: 0.5rem;
  }
  .gap-xs-3 {
    gap: 0.75rem;
  }
  .gap-xs-4 {
    gap: 1rem;
  }
  .gap-xs-5 {
    gap: 1.25rem;
  }
  .gap-xs-6 {
    gap: 1.5rem;
  }
  .gap-xs-7 {
    gap: 1.75rem;
  }
  .gap-xs-8 {
    gap: 2rem;
  }
  .gap-xs-9 {
    gap: 2.25rem;
  }
  .gap-xs-10 {
    gap: 2.5rem;
  }
  .gap-xs-11 {
    gap: 2.75rem;
  }
  .gap-xs-12 {
    gap: 3rem;
  }
}
@media (min-width: 576px) {
  .gap-sm-1 {
    gap: 0.25rem;
  }
  .gap-sm-2 {
    gap: 0.5rem;
  }
  .gap-sm-3 {
    gap: 0.75rem;
  }
  .gap-sm-4 {
    gap: 1rem;
  }
  .gap-sm-5 {
    gap: 1.25rem;
  }
  .gap-sm-6 {
    gap: 1.5rem;
  }
  .gap-sm-7 {
    gap: 1.75rem;
  }
  .gap-sm-8 {
    gap: 2rem;
  }
  .gap-sm-9 {
    gap: 2.25rem;
  }
  .gap-sm-10 {
    gap: 2.5rem;
  }
  .gap-sm-11 {
    gap: 2.75rem;
  }
  .gap-sm-12 {
    gap: 3rem;
  }
}
@media (min-width: 768px) {
  .gap-md-1 {
    gap: 0.25rem;
  }
  .gap-md-2 {
    gap: 0.5rem;
  }
  .gap-md-3 {
    gap: 0.75rem;
  }
  .gap-md-4 {
    gap: 1rem;
  }
  .gap-md-5 {
    gap: 1.25rem;
  }
  .gap-md-6 {
    gap: 1.5rem;
  }
  .gap-md-7 {
    gap: 1.75rem;
  }
  .gap-md-8 {
    gap: 2rem;
  }
  .gap-md-9 {
    gap: 2.25rem;
  }
  .gap-md-10 {
    gap: 2.5rem;
  }
  .gap-md-11 {
    gap: 2.75rem;
  }
  .gap-md-12 {
    gap: 3rem;
  }
}
@media (min-width: 992px) {
  .gap-lg-1 {
    gap: 0.25rem;
  }
  .gap-lg-2 {
    gap: 0.5rem;
  }
  .gap-lg-3 {
    gap: 0.75rem;
  }
  .gap-lg-4 {
    gap: 1rem;
  }
  .gap-lg-5 {
    gap: 1.25rem;
  }
  .gap-lg-6 {
    gap: 1.5rem;
  }
  .gap-lg-7 {
    gap: 1.75rem;
  }
  .gap-lg-8 {
    gap: 2rem;
  }
  .gap-lg-9 {
    gap: 2.25rem;
  }
  .gap-lg-10 {
    gap: 2.5rem;
  }
  .gap-lg-11 {
    gap: 2.75rem;
  }
  .gap-lg-12 {
    gap: 3rem;
  }
}
@media (min-width: 1200px) {
  .gap-xl-1 {
    gap: 0.25rem;
  }
  .gap-xl-2 {
    gap: 0.5rem;
  }
  .gap-xl-3 {
    gap: 0.75rem;
  }
  .gap-xl-4 {
    gap: 1rem;
  }
  .gap-xl-5 {
    gap: 1.25rem;
  }
  .gap-xl-6 {
    gap: 1.5rem;
  }
  .gap-xl-7 {
    gap: 1.75rem;
  }
  .gap-xl-8 {
    gap: 2rem;
  }
  .gap-xl-9 {
    gap: 2.25rem;
  }
  .gap-xl-10 {
    gap: 2.5rem;
  }
  .gap-xl-11 {
    gap: 2.75rem;
  }
  .gap-xl-12 {
    gap: 3rem;
  }
}
@media (min-width: 1400px) {
  .gap-xxl-1 {
    gap: 0.25rem;
  }
  .gap-xxl-2 {
    gap: 0.5rem;
  }
  .gap-xxl-3 {
    gap: 0.75rem;
  }
  .gap-xxl-4 {
    gap: 1rem;
  }
  .gap-xxl-5 {
    gap: 1.25rem;
  }
  .gap-xxl-6 {
    gap: 1.5rem;
  }
  .gap-xxl-7 {
    gap: 1.75rem;
  }
  .gap-xxl-8 {
    gap: 2rem;
  }
  .gap-xxl-9 {
    gap: 2.25rem;
  }
  .gap-xxl-10 {
    gap: 2.5rem;
  }
  .gap-xxl-11 {
    gap: 2.75rem;
  }
  .gap-xxl-12 {
    gap: 3rem;
  }
}
.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.text-left {
  text-align: "left" !important;
}

.text-right {
  text-align: "right" !important;
}

.text-center {
  text-align: "center" !important;
}

.text-justify {
  text-align: "justify" !important;
}

.text-end {
  text-align: "end" !important;
}

.text-start {
  text-align: "start" !important;
}

.text-inherit {
  text-align: "inherit" !important;
}

.text-initial {
  text-align: "initial" !important;
}

.text-unset {
  text-align: "unset" !important;
}/*# sourceMappingURL=grid.css.map */