<!DOCTYPE>
<html>

<head>
    <meta http-equiv="Content-Type" content="text-html;charset=utf-8">
    <link rel="stylesheet" href="/storage/templates/defaults/projectoStyle/assets/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataforma de cursos online</title>
</head>

<body>
    <nav>
        <a href=/storage/templates/defaults/projectoStyle/">Online</a>
        <ul>
            <li>
                <a href=/storage/templates/defaults/projectoStyle/">Início</a>
            </li>
            <li>
                <a href=/storage/templates/defaults/projectoStyle/">Livros</a>
            </li>
            <li>
                <a href=/storage/templates/defaults/projectoStyle/">Explorar</a>
            </li>
            <li>
                <a href=/storage/templates/defaults/projectoStyle/">Cadastro</a>
            </li>
        </ul>
    </nav>

    <div class="fundo">
        <div class="texto">
            <h1>Bemvindo a Project Style</h1>
            <h3>Uma plataforma de cursos online</h3>
            <span>Aprenda de maneira mais rápida e eficiente sem ter que sair da sua casa, <br> apenas com o teu celular ou laptop</span>
        </div>
    </div>

    <section class="secao">
        <div class="titulo-secao">Cursos em destaque</div>
        <div class="corpo-secao">
            <div class="destaque">
                <a href=/storage/templates/defaults/projectoStyle/" class="destaque-item">
                    <div class="contem-img">
                        <img src="assets/img/2.png" alt="">
                    </div>
                    <span>Titulo do curso</span>
                    <small>autor: obed liyas</small>
                </a>
                <a href=/storage/templates/defaults/projectoStyle/" class="destaque-item">
                    <div class="contem-img">
                        <img src="assets/img/people-3253355_1920.jpg" alt="">
                    </div>
                    <span>Titulo do curso</span>
                    <small>autor: obed liyas</small>
                </a>
                <a href=/storage/templates/defaults/projectoStyle/" class="destaque-item">
                    <div class="contem-img">
                        <img src="assets/img/Pros-and-Cons-of-Custom-Software.jpg" alt="">
                    </div>
                    <span>Titulo do curso</span>
                    <small>autor: obed liyas</small>
                </a>
            </div>
        </div>
    </section>

    <section class="secao">
        <div class="titulo-secao">Quem somos</div>
        <div class="corpo-secao">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat accusantium consectetur alias quo <br> molestias ratione commodi asperiores facere vitae rem!</span>
        </div>
    </section>

    <section class="secao">
        <div class="titulo-secao">
            <div>Os serviços disponíveis</div>
            <small>Além de fornecer cursos online, o que fazemos</small>
        </div>
        <div class="corpo-secao">
            <div class="destaque">
                <div class="destaque-servico">
                    <div class="contem-img">
                        <img src="assets/img/1_fhZyEvPoi-8Z-FYRhZxnmw.jpg" alt="">
                    </div>
                    <span>Serviço 1</span>
                    <small>Já temos mais gente usando</small>
                    <div class="detalhes">
                        <small>→ Quantidade limitada</small>
                        <small>→ Serviço elaborado</small>
                        <small>→ Bonus de 1 ano</small>
                    </div>
                    <button>Aderir serviço</button>
                </div>
                <div class="destaque-servico">
                    <div class="contem-img">
                        <img src="assets/img/2.png" alt="">
                    </div>
                    <span>Serviço 1</span>
                    <small>Já temos mais gente usando</small>
                    <div class="detalhes">
                        <small>→ Quantidade limitada</small>
                        <small>→ Serviço elaborado</small>
                        <small>→ Bonus de 1 ano</small>
                    </div>
                    <button>Aderir serviço</button>
                </div>
                <div class="destaque-servico">
                    <div class="contem-img">
                        <img src="assets/img/Pros-and-Cons-of-Custom-Software.jpg" alt="">
                    </div>
                    <span>Serviço 1</span>
                    <small>Já temos mais gente usando</small>
                    <div class="detalhes">
                        <small>→ Quantidade limitada</small>
                        <small>→ Serviço elaborado</small>
                        <small>→ Bonus de 1 ano</small>
                    </div>
                    <button>Aderir serviço</button>
                </div>
            </div>
        </div>
    </section>


    <!-- rodapé -->
    <footer>
        <div class="linha">
            <div class="informacao">
                <span class="titulo">Online</span>
                <span>Plataforma de cursos online para todos nós <br> Temos na nossa disponibilidade vários cursos para diferentes níveis </span>
    
                <small class="siga">Siga-nos na nossa pagina do facebook</small>
                <div class="icons">
                    <a href=/storage/templates/defaults/projectoStyle/" target="_blank" class="icon">
                        <small class="caixa">f</small>
                        <small>Obed Liyas Oficial</small>
                    </a>
                </div>
            </div>
            <div id="localidade">
                <span class="titulo_2">Localização</span>
                <small> → Estamos localizados na Rua: Marçal, Samirana (Congolenses) Luanda-Angola</small>
                <small> → Também atrás da NCR dos Combatentes (São Paulo de Luanda)</small>
            </div>
            <div id="contactos">
                <span class="titulo_2">Contactos</span>
                <small> → Tel: +244 9xx xxx xxx</small>
                <small> → Email: obedliya@gmail.com</small>
            </div>
        </div>
        <div class="linha">
            <small class="centralizado">&copy; 2024. Todos os direitos reservados | desenvolvido por ♥ : Obed </small>
        </div>
    </footer>

</body>

</html>