* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fdfdfd;
}

img {
  max-width: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.tw-muted {
  color: rgba(0, 0, 0, 0.5);
}

.nav-app {
  display: flex;
  align-items: baseline;
}

.nav-app .icon {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  display: block;
  background-color: #374C53;
}

.nav-app {
  font-size: 24px;
  font-weight: bold;
}

footer {
  margin-top: auto;
  height: 60px;
  line-height: 60px;
  background-color: #f1f1f1;
}

.card-layout,
.card-layout-contain,
.card-layout-header {
  padding: 2rem 0;
}

.card-layout:has(.contacts-caption) {
  height: 80vh;
}

.card-layout-header {
  text-align: center;
}

.card-layout-header .tw-muted {
  text-transform: uppercase;
  font-weight: 500;
}

.card-layout-header .bold {
  font-size: 30px;
  font-weight: bold;
  display: block;
  color: #374C53;
}

.card-layout:has(.pricing-container) {
  background-color: #f1f1f1;
  border-radius: 0 0 10% 0;
}

.pricing-container {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

.pricing {
  width: 400px;
  height: 620px;
  border-radius: 4px;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  background: #fdfdfd;
  border: 4px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}

.pricing:hover {
  border-color: #374C53;
}

.pricing .header {
  height: 20%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pricing .header span {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

.pricing .header .tw-muted {
  text-transform: uppercase;
  font-style: italic;
}

.pricing .price {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  /*color: #fdfdfd;*/
  font-size: 24px;
}

.pricing:nth-child(2) .price {
  color: #ffff;
  background-color: #374C53;
}

.detalhes {
  height: 50%;
  text-align: center;
  padding: 0 1rem;
  margin-top: 1rem;
}

.detalhes small {
  white-space: nowrap;
  display: block;
  height: 45px;
  line-height: 45px;
  color: #8A8A8A;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

button.btn,
.btn {
  width: 100%;
  height: 10%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.1rem !important;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

button.btn {
  height: 50px !important;
}

button.btn:hover,
.btn:hover {
  color: #fff !important;
  border-color: transparent;
  background-color: #374C53 !important;
}


.card-layout-row {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}

.contacts-caption,
.contacts-form {
  width: 46%;
}

.contacts-item {
  width: 100%;
}

.contacts-item+.contacts-item {
  margin-top: 1rem;
}

.contacts-input {
  outline: none;
  border: solid 1px rgba(0, 0, 0, 0.1);
  height: 50px;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 0.1rem;
  padding: 1rem;
  transition: 0.2s ease-in-out;
}

.contacts-input:focus {
  border-color: #374C53;
}

textarea {
  height: 100px !important;
  resize: none;
}

button {
  width: 100%;
  height: 50px;
  color: #fdfdfd;
  cursor: pointer;
  outline: none !important;
  background-color: #374C53;
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 0px 4px transparent;
}

button:hover {
  opacity: .9;
  box-shadow: 0 0 0px 4px rgba(55, 76, 83, 0.2);
}


.caption-header {
  margin-bottom: 2rem;
}

.caption-header .title {
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.caption-items small {
  display: block;
  font-size: 16px;
  margin-top: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.caption-items small a {
  color: rgba(0, 0, 0, 0.5);
}

.caption-items small a:hover {
  text-decoration: underline;
  color: #374C53;
}

.caption-items small:hover {
  color: #374C53;
}



/*
FAQS
*/

.fq-container {
  width: 100%;
}

.fq-item {
  width: 100%;
  border: solid 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 1rem 2rem;
}

.fq-item+.fq-item {
  margin-top: 1rem;
}

.fq-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-weight: bold;
  padding: 0 0 0.5rem;
  /*background: red;*/
}

.fq-header * {
  /*pointer-events: none;*/
}

.fq-item.active .fq-header,
.fq-header:hover {
  opacity: 0.6;
}

.fq-contain {
  height: 0;
  overflow: hidden;
  transition: 0.2s ease;
}

.fq-item.active {
  border-color: #374C53;
}

.fq-item.active .fq-contain {
  height: auto;
  padding-bottom: 0.5rem;
}


/*
NAVBAR
*/

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  position: sticky;
  z-index: 1111111111;
  background-color: #fdfdfd;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.01);
}

.navbar .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav-items {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-item+.nav-item {
  margin-left: 2rem;
}

.nav-link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  position: relative;
}

.nav-link::after {
  content: '';
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  transition: 0.2s ease-in-out;
  background-color: #374C53;
}

.nav-link.active::after,
.nav-link:hover::after {
  width: 100%;
}



/*
HEADER
*/

header {
  height: 90vh;
  position: relative;
}

.wallpaper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

.wallpaper::after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.header-caption {
  z-index: 11;
  top: 40%;
  width: 50%;
  left: 5%;
  position: absolute;
  transform: translateY(-50%);
}

.header-caption .bold {
  display: block;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-caption .bold+small {
  display: block;
  margin-top: 1rem;
  font-size: 20px;
  line-height: 25px;
}

.header-caption .btn {
  margin-top: 2rem;
  height: 45px;
  width: 260px;
  margin: 2rem 0 0;
}

.header-caption::after {
  content: '';
  top: -10%;
  left: 10%;
  position: absolute;
  width: 50px;
  height: 4px;
  background: #374C53;
}




/*
TS
*/

.ts-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ts-item {
  width: 320px;
  padding: 1rem;
  /*height: 240px;*/
  /*border: solid 1px rgba(0, 0, 0, 0.05);*/
  cursor: normal;
  text-align: center;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
}

.ts-item:hover {
  background: #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

.mini-divisor {
  width: 10%;
  height: 4px;
  display: block;
  margin: 1rem auto 0.5rem;
  background-color: #374C53;
}

.ts-item .cover {
  width: 140px;
  height: 140px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.ts-item .cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}


/*
caption-text
*/

.caption-text {
  width: 48%;
}

.caption-text+.items {
  width: 48%;
}

.items .item {
  height: 100px;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.01);
}

.items .item .header {
  font-weight: bold;
}

.items .item .dot {
  font-size: 18px;
}

.items .item+.item {
  margin-top: 1rem;
}

.caption-text .bold {
  display: block;
  font-weight: bold;
  font-size: 24px;
}

.caption-contain .caption-header small.tw-muted {
  font-size: 20px !important;
}



/*
Back to TOP
*/

.back-to-top {
  width: 60px;
  height: 40px;
  bottom: 2rem;
  right: -100%;
  cursor: pointer;
  position: fixed;
  background: #374C53;
  display: flex;
  color: #fdfdfd;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
  border: solid 1px rgba(0, 0, 0, 0.1);
}

.back-to-top.active {
  right: 0;
}

.wrapper {
  display: none;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 4px solid #3498db;
  border-top: 4px solid transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
