<div class="tools-section-item">
  <small class="title">Posição</small>
  <div class="contain">
    <button class="ifrom">Subir</button>
    <button class="ifrom">Descer</button>
  </div>
</div>

<div class="tools-section-item">
  <small class="title">Largura</small>
  <div class="contain">
    <input type="text" class="iform" value="100">
    <small class="unidade">px</small>
  </div>
</div>

<div class="tools-section-item">
  <small class="title">Altura</small>
  <div class="contain">
    <input type="text" class="iform" value="100">
    <small class="unidade">px</small>
  </div>
</div>

<div class="tools-section-item">
  <small class="title">Fundo</small>
  <div class="contain">
    <input type="color" name="color" value="#0d0f11" class="iform">
  </div>
</div>


<div class="tools-section-item">
  <small class="title">Visibilidade</small>
  <div class="contain">
    <button class="ifrom">Ocultar</button>
    <button class="ifrom">Sobrepôr</button>
    <button class="ifrom">Remover</button>
  </div>
</div>
