<div class="tools-section-item">
  <small class="title">Hyperlink</small>
  <div class="contain">
    <input type="text" class="iform" placeholder="https://google.com">
  </div>
</div>

<div class="tools-section-item">
  <small class="title">Abertura de link</small>
  <div class="contain">
    <select name="" class="iform">
      <option value="Interno">Interno</option>
      <option value="Externo">Externo</option>
    </select>
  </div>
  <div class="contain mt-tiny">
    <input type="text" class="iform" placeholder="Página do link">
  </div>
</div>

<div class="tools-section-item">
  <small class="title">Inserir imagem</small>
  <div class="contain">
    <label for="img" class="iform">
      <small>Selecionar</small>
    </label>
    <small class="unidade">jpg/png</small>
    <input type="file" id="img" class="iform" hidden>
  </div>
</div>
