<div class="tools-section-item">
  <small class="title">Título</small>
  <div class="contain">
    <input type="text" name="title" class="iform" value="Titulo">
  </div>
</div>

<div class="tools-section-item">
  <small class="title">SubTítulo</small>
  <div class="contain">
    <input type="text" name="subtitle" class="iform" value="SubTitulo">
  </div>
</div>

<div class="tools-section-item">
  <small class="title">Letra</small>
  <div class="contain">
    <select name="fontType" class="iform">
      <option value="Roboto">Roboto</option>
      <option value="Poppins">Poppins</option>
      <option value="Arial">Arial</option>
      <option value="Segoe UI">Segoe UI</option>
      <option value="GeneralSans">GeneralSans</option>
      <option value="Fira Code">Fira Code</option>
    </select>
  </div>
</div>

<div class="tools-section-item">
  <small class="title">Tamanho</small>
  <div class="contain">
    <input type="text" name="tamanho" value="10" class="iform">
    <small class="unidade">px</small>
  </div>
</div>

<div class="tools-section-item">
  <small class="title">Alinhamento</small>
  <div class="contain">
    <a href=""> <small class="bi-align-start"></small> </a>
    <a href=""> <small class="bi-align-center"></small> </a>
    <a href=""> <small class="bi-align-end"></small> </a>
  </div>
</div>

<div class="tools-section-item">
  <small class="title">Estilo</small>
  <div class="contain">
    <a href=""> <small>N</small> </a>
    <a href=""> <small>S</small> </a>
    <a href=""> <small>I</small> </a>
    <a href=""> <small>T</small> </a> <!--/.line-through-->
  </div>
</div>

<div class="tools-section-item">
  <small class="title">Cor</small>
  <div class="contain">
    <input type="color" name="color" value="#cc0000" class="iform">
  </div>
</div>
