<?= parts('labs.navbar') ?>
<header>
  <div class="wallpaper"></div>
  <div class="ncode-container">
    <div class="nocode-header-caption">
      <span class="bold">Sílica Nocode <br> nova tendência de negócios & <br> Torne-se independete
      </span>
      <small class="tw-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores dolor consequatur <br>
        ipsum debitis, quis blanditiis ab sint odit quidem labore.</small>

      <div class="ncode-actions">
        <a href="" class="ncode-btn-action"> <small>Explorar</small></a>
        <a href="" class="ncode-btn-action"> <small>Registra-te</small></a>
      </div>

      <div class="titlebar">
        <div class="titlebar-item">
          <span class="title">+ 4.5K</span>
          <small>Usuários aderiram</small>
        </div>
        <div class="titlebar-item">
          <span class="title">+ 1.5K</span>
          <small>Landing Páginas</small>
        </div>
        <div class="titlebar-item">
          <span class="title">+ 0.5K</span>
          <small>Dashboard</small>
        </div>
      </div>

    </div>
  </div>
</header>

<div class="card-section">
  <div class="card-section-header">
    <div class="ncode-container">
      <div class="title">
        <small class="tw-muted">Nocode| uma Ferramenta Sílica</small>
        <span class="bold">Conheça a nova tendência de negócios</span>
      </div>
    </div>
  </div>

  <div class="card-section-contain">
    <div class="ncode-container">
      <div class="card-section-row">
        <div class="contain-row">
          <div class="list-vertical">
            <div class="list-item-lead">
              <span class="item">Tenha a possibilidade de:</span>
            </div>
            <div class="list-item">
              <span class="bi-check2-all"></span>
              <span class="item">Cria a sua própria página</span>
            </div>
            <div class="list-item">
              <span class="bi-check2-all"></span>
              <span class="item">Editar ela do seu jeito</span>
            </div>
            <div class="list-item">
              <span class="bi-check2-all"></span>
              <span class="item">Gere os teus visitantes</span>
            </div>
            <div class="list-item">
              <span class="bi-check2-all"></span>
              <span class="item">Converta-os em leads ou clientes</span>
            </div>
            <div class="list-item">
              <span class="bi-check2-all"></span>
              <span class="item">Façam um marketing do teu négocio</span>
            </div>
            <div class="list-item">
              <span class="bi-check2-all"></span>
              <span class="item">Promova os teus produtos e serviços</span>
            </div>
            <div class="list-item">
              <span class="bi-check2-all"></span>
              <span class="item">Disponibiliza ações específicas</span>
            </div>
            <div class="list-item">
              <span class="bi-check2-all"></span>
              <span class="item">E muitos mais | <a href=""><small>ver Sílica</small></a> </span>
            </div>
          </div>
        </div>
        <div class="contain-row">
          <img src="/assets/images/pngegg.png" class="reaveled" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-section">
  <div class="card-section-header">
    <div class="ncode-container">
      <div class="title">
        <small class="tw-muted">Como funciona?</small>
        <span class="bold">Aprende a trabalhar com Nocode</span>
      </div>
    </div>
  </div>
  <div class="card-section-contain">
    <div class="ncode-container">
      <div class="card-slider">
        <div class="slider-item">
          <div class="contain-text">
            <span class="title">Primeiro</span>
            <span>Procure por um template e Seleciona-o</span>
          </div>
          <div class="contain-img">
            <img src="/assets/images/choose.png" alt="">
          </div>
        </div>
        <div class="slider-item">
          <div class="contain-text">
            <span class="title">Segundo</span>
            <span>Faça as suas alterações sem necessidade de mexer no código e salve-as</span>
          </div>
          <div class="contain-img">
            <img src="/assets/images/choose.png" alt="">
          </div>
        </div>
        <div class="slider-item">
          <div class="contain-text">
            <span class="title">Terceiro</span>
            <span>Defina um nome para o seu domínio</span>
          </div>
          <div class="contain-img">
            <img src="/assets/images/choose.png" alt="">
          </div>
        </div>
        <div class="slider-item">
          <div class="contain-text">
            <span class="title">Quarto</span>
            <span>Publique o Landing Page</span>
          </div>
          <div class="contain-img">
            <img src="/assets/images/choose.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-section">
  <div class="card-section-header">
    <div class="ncode-container">
      <div class="title">
        <small class="tw-muted">Planos e Preços</small>
        <span class="bold">Com ter acesso</span>
      </div>
    </div>
  </div>
  <div class="card-section-contain">
    <div class="ncode-container">
      <div class="card-princing"></div>
    </div>
  </div>
</div>

<div class="card-section">
  <div class="card-section-header">
    <div class="ncode-container">
      <div class="title">
        <small class="tw-muted">Perguntas Frequentes</small>
        <span class="bold">FAQ's</span>
      </div>
    </div>
  </div>
  <div class="card-section-contain">
    <div class="ncode-container">
      <div class="card-faqs-container">
        <?php for($i = 0; $i < 5; $i++): ?>
        <div class="faqs-item <?= ($i == 0) ? 'active' : '' ?>">
          <div class="faqs-header">
            <span class="name">Como Faço para começar</span>
            <span class="bi-chevron-down"></span>
          </div>
          <div class="faqs-contain">
            <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores et, veritatis ducimus similique numquam
              repudiandae ullam veniam expedita voluptatem iste.</span>
          </div>
        </div>
        <?php endfor; ?>
      </div>
    </div>
  </div>
</div>

<div class="card-section">
  <div class="card-section-header">
    <div class="ncode-container">
      <div class="title">
        <small class="tw-muted"></small>
        <span class="bold">Contacte-Nos</span>
      </div>
    </div>
  </div>
  <div class="card-section-contain">
    <div class="ncode-container">
      <div class="card-section-row">
        <div class="contacts">
          <div class="contact-item">
            <span class="text">TIre as tuas dúvidas</span>
          </div>
          <div class="contact-item">
            <small class="bi-pin-map-fill"></small>
            <div class="text">
              <small>Av. Doutor António A. Neto, Bairro Azul| Ingombota Luanda, Angola
                Referencia Viaduto do Zamba 2 <br> Estamos aberto de segunda à sexta|das 8h às 17h</small>

            </div>
          </div>
          <div class="contact-item">
            <small class="bi-telephone-fill"></small>
            <div class="text">
              <small> <a href="">+244 948 109 778</a></small>
            </div>
          </div>
          <div class="contact-item">
            <small class="bi-envelope-at-fill"></small>
            <div class="text">
              <small> <a href="">cc@silicaweb.ao</a> </small>
            </div>
          </div>
          <div class="contact-item">
            <span class="text">Acompanhe-nos as redes sociais</span>
          </div>
          <div class="contact-social">
            <a href="https://webmail.silicaweb.ao/" class="btn-link" target="_blank"><small
                class=""><small>Wm</small></small></a>
            <a href="" class="btn-link"><small class="bi-linkedin"></small></a>
            <a href="" class="btn-link"><small class="bi-facebook"></small></a>
            <a href="" class="btn-link"><small class="bi-youtube"></small></a>
          </div>
        </div>
        <form action="" class="subject">
          <div class="ncode-form-item">
            <input type="text" class="ncode-input" name="contact_name" required>
            <small class="placeholder">Nome</small>
          </div>
          <div class="ncode-form-item">
            <input type="text" class="ncode-input" name="contact_email" required>
            <small class="placeholder">Email</small>
          </div>
          <div class="ncode-form-item">
            <textarea type="text" class="ncode-input" name="contact_msg" required></textarea>
            <small class="placeholder">Mensagem</small>
          </div>
          <div class="ncode-form-item">
            <button type="submit">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<?= parts('footer') ?>


<script src="/assets/js/site/index.js"></script>
