<div class="nocode-editor">
  <div class="editor-header">
    <span>nocode</span>
    <span class="close-me">x</span>
  </div>

  <div class="editor-contain">
    <div class="editor-section">
      <div class="section-top">
        <span class="title">Texto</span>
      </div>
      <div class="section-contain">

        <div class="editor-row">
          <div class="editor-item">
            <small class="label">Mudar texto</small>
            <input type="text" name="actual_text" value="Texto">
          </div>
        </div>

        <div class="editor-row">
          <div class="editor-item">
            <small class="label">Font de Letra</small>
            <select name="font" id="">
              <option value="tm">Arial</option>
              <option value="tm">Brodway</option>
              <option value="tm">Franklin</option>
              <option value="tm">Cousine</option>
              <option value="tm">Cascadia</option>
              <option value="tm">Impact</option>
              <option value="tm">Palatino LinoType</option>
              <option value="tm">Poppins</option>
              <option value="tm">Roboto</option>
              <option value="tm">Segoe UI</option>
              <option value="tm">Times New Roman</option>
            </select>
          </div>
          <div class="editor-item">
            <small class="label">Tamanho</small>
            <input type="text" name="size" value="12">
          </div>
        </div>

        <div class="editor-row">
          <div class="editor-item">
            <small class="label">Estilo</small>
            <select name="style" id="">
              <option value="">Normal</option>
              <option value="">Regular</option>
              <option value="">Medium</option>
              <option value="">Bold</option>
              <option value="">Bold Italic</option>
              <option value="">Black</option>
              <option value="">Black Italic</option>
              <option value="">Italic</option>
              <option value="">Underline</option>
              <option value="">Line through</option>
              <option value="">Uppercase</option>
              <option value="">Lowecase</option>
              <option value="">Capitalize</option>
            </select>
          </div>
          <div class="editor-item">
            <small class="label">Alinhamento</small>
            <select name="alignments" id="">
              <option value="">Left</option>
              <option value="">Right</option>
              <option value="">Center</option>
              <option value="">Justify</option>
            </select>
          </div>
        </div>

      </div>

      <div class="editor-row">
        <div class="editor-item">
          <small class="label">Opacidade</small>
          <input type="text" name="opacity" value="1.0">
        </div>
        <div class="editor-item">
          <small class="label">Cor</small>
          <input type="color" name="cor" value="Texto">
        </div>
      </div>
    </div> <!--/.section text-->

    <div class="editor-section">
      <div class="section-top">
        <span class="title">Visibilidade</span>
      </div>
      <div class="section-contain">

        <div class="editor-row">
          <div class="editor-item">
            <small class="label">Display</small>
            <select name="font" id="">
              <option value="tm">Flex</option>
              <option value="tm">Block</option>
              <option value="tm">Inline-block</option>
            </select>
          </div>
          <div class="editor-item">
            <small class="label">Direção</small>
            <select name="font" id="">
              <option value="tm">Items Flex-sart</option>
              <option value="tm">Content Flex-start</option>
              <option value="tm">Items Flex-end</option>
              <option value="tm">Content Flex-end</option>
              <option value="tm">Items Space-between</option>
              <option value="tm">Content Space-between</option>
              <option value="tm">Items Space-around</option>
              <option value="tm">Content Space-around</option>
              <option value="tm">Item Center </option>
              <option value="tm">Content Center</option>
              <option value="tm">Center All</option>
              <option value="tm">Float Left</option>
              <option value="tm">Float Right</option>
            </select>
          </div>
        </div>

        <div class="editor-row">
          <div class="editor-item">
            <small class="label">Posição</small>
            <select name="font" id="">
              <option value="tm">Relative</option>
              <option value="tm">Absolute</option>
              <option value="tm">Sticky</option>
              <option value="tm">Static</option>
            </select>
          </div>
        </div>

        <div class="editor-row">
          <div class="editor-item">
            <small class="label">Top</small>
            <input type="text" name="top" value="0" class="only_numbers">
          </div>
          <div class="editor-item">
            <small class="label">Direita</small>
            <input type="text" name="top" value="0" class="only_numbers">
          </div>
          <div class="editor-item">
            <small class="label">Baixo</small>
            <input type="text" name="top" value="0" class="only_numbers">
          </div>
          <div class="editor-item">
            <small class="label">Esquerda</small>
            <input type="text" name="top" value="0" class="only_numbers">
          </div>
        </div>

        <div class="editor-row">
          <div class="editor-item">
            <small class="label">Largura</small>
            <input type="text" name="height" value="100" class="only_numbers">
          </div>
          <div class="editor-item">
            <small class="label">Altura</small>
            <input type="text" name="height" value="100" class="only_numbers">
          </div>
        </div>

        <div class="editor-row">
          <div class="editor-item">
            <small class="label">Borda</small>
            <select name="border" id="">
              <option value="">Top</option>
              <option value="">Right</option>
              <option value="">Left</option>
              <option value="">Bottom</option>
            </select>
          </div>
          <div class="editor-item">
            <small class="label">Tamanho</small>
            <input type="text" name="border-width" value="1" class="only_numbers">
          </div>
          <div class="editor-item">
            <small class="label">Cor</small>
            <input type="color" name="border-color">
          </div>
        </div>

        <div class="editor-row">
          <div class="editor-item">
            <small class="label">Estilo</small>
            <select name="border-style" id="">
              <option value="">Solid</option>
              <option value="">Dotted</option>
              <option value="">Dashed</option>
              <option value="">Line</option>
            </select>
          </div>
          <div class="editor-item">
            <small class="label"> Border Radius</small>
            <input type="text" name="radius" value="0" class="only_numbers">
          </div>
        </div>

      </div>

    </div> <!--/.section visibility-->

    <div class="editor-section">
      <div class="section-top">
        <span class="title">Imagem</span>
      </div>

      <div class="section-contain">
        <div class="editor-row">
          <div class="editor-item">
            <small class="label">Alterar imagem</small>
            <label for="alterar-imagem"> <small>Procurar +</small> </label>
            <input type="file" id="alterar-imagem" hidden>
          </div>
          <div class="editor-item">
            <small class="label">Imagem Online</small>
            <input type="text" name="alterar_img_online" placeholder="Link da imagem">
          </div>
        </div>
      </div>
    </div> <!--/.section imagens-->

    <div class="editor-section">
      <div class="section-top">
        <span class="title">Control</span>
      </div>
      <div class="section-contain">
        <div class="editor-row">
          <div class="editor-item">
            <button class="editor-btn">Remover</button>
          </div>
          <div class="editor-item">
            <button class="editor-btn">Duplicar</button>
          </div>
          <div class="editor-item">
            <button class="editor-btn">Salvar</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script></script>