<div class="management">
  <div class="container">
    <div class="items">
      <small>Responsividade:</small>
      <button><small>Phone</small></button>
      <button><small>Tablet</small></button>
      <button><small>Desktop</small></button>
    </div>
    <div class="items">
      <button><a href="http://localhost:5000/"><small>Usar este</small></a></button>
      <button class="open-editor"><small>Abrir editor</small></button>
      <button class="close-management"><small>Fechar</small></button>
    </div>
  </div>
</div>

<script>
  document.querySelector('.close-management').addEventListener('click', (e) => {
    document.querySelector('.management').classList.add('hide');
  });
</script>