.cool-alert {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 111;
    padding-top: 0;
    display: none;
    transition: padding-top 0.2s ease-in-out;
    -webkit-transition: padding-top 0.2s ease-in-out;
    -moz-transition: padding-top 0.2s ease-in-out;
    -ms-transition: padding-top 0.2s ease-in-out;
    -o-transition: padding-top 0.2s ease-in-out;
}


.cool-alert.active {
    display: block;
}

.cool-alert.active>div {
    animation: topToDown 0.5s ease forwards;
    -webkit-animation: topToDown 0.5s ease forwards;
}

@keyframes topToDown {
    0% {
        margin-top: -4rem;
    }

    100% {
        margin-top: 4rem;
    }
}

.cool-alert>div {
    width: 340px;
    max-width: 90%;
    min-height: 60px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    border-left: solid 4px #07f;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    position: relative;
}

.cool-alert .cool-alert-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    aspect-ratio: 1/1;
    background-color: #07f;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #fff;
    margin-right: 0.5rem;
}

.cool-alert .cool-alert-close {
    width: 30px;
    height: 30px;
    top: 25%;
    right: 3%;
    position: absolute;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin-right: -1rem;*/
    cursor: pointer;
    background-color: #f9f9f9;
}

.cool-alert .cool-alert-close:hover {
    background-color: #eee;
}