<?php
  $texts = [
    'titulo' => [
      'contain' => [
        ''
      ]
    ],
  ];
?>

<div class="dropdown-item">
  <small class="tw-muted">Título</small>
  <div class="item-contain">
    <input type="text" value="input" name="title">
  </div>
</div>

<div class="dropdown-item">
  <small class="tw-muted">SubTítulo</small>
  <div class="item-contain">
    <input type="text" value="input" name="subtitle">
  </div>
</div>

<div class="dropdown-item">
  <small class="tw-muted">Alinhamento</small>
  <div class="item-contain">
    <div class="alignment-item">
      <small class="bi-align-start"></small>
    </div>
    <div class="alignment-item">
      <small class="bi-align-center"></small>
    </div>
    <div class="alignment-item">
      <small class="bi-align-end"></small>
    </div>
  </div>
</div>

<div class="dropdown-item">
  <small class="tw-muted">Font</small>
  <div class="item-contain">
    <select name="font" id="">
      <option value="">Roboto</option>
      <option value="">GeneralSans</option>
      <option value="">Cascadia</option>
      <option value="">Fira code</option>
    </select>
  </div>
</div>


<div class="dropdown-item">
  <small class="tw-muted">Cor</small>
  <div class="item-contain">
    <input type="color" name="color" value="#cc0000">
  </div>
</div>
