<div class="editor-tool-name">
  <small class="bi-code-slash"></small>
  <small>Nocode</small>
</div>

<div class="editor-tools-sections">
  <div class="tools-section-header">
    <div class="title">
      <small class="bi-fonts"></small>
      <small>Textos</small>
    </div>
    <small class="bi-chevron-down"></small>
  </div>

  <div class="tools-section-body">
    <?= parts('editor.text') ?>
  </div>
</div>

<div class="editor-tools-sections">
  <div class="tools-section-header">
    <div class="title">
      <small class="bi-tv"></small>
      <small>Layouts</small>
    </div>
    <small class="bi-chevron-down"></small>
  </div>

  <div class="tools-section-body">
    <?= parts('editor.layout') ?>
  </div>
</div>

<div class="editor-tools-sections">
  <div class="tools-section-header">
    <div class="title">
      <small class="bi-collection-fill"></small>
      <small>Mídia</small>
    </div>
    <small class="bi-chevron-down"></small>
  </div>

  <div class="tools-section-body">
    <?= parts('editor.midia') ?>
  </div>
</div>

<div class="editor-tools-sections"></div>

<div class="editor-tools-sections">
  <div class="tools-section-body">
    <button>Salvar</button>
  </div>
</div>
