<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>web_builder</title>
	<link rel="stylesheet" href="/assets/css/general-sans.css">
	<link rel="stylesheet" href="/assets/css/bootstrap-icons.css">
	<link rel="stylesheet" href="/assets/webb/web_builder.css?v=<?=time()?>">
</head>
<body>

	<div class="web_builder_top">
		<div class="container">
			<div class="top_title">
				<span class="bold">Snocode</span>
				<small class="tw-muted">Constructor de websites</small>
			</div>
		</div>
		<div class="web_builder_responsive_tabs">
			<div class="container">
				<div class="responsive_tabs_item rt1">
					<button class="tabs_item"><span class="bi bi-tv"></span></button>
					<div class="responsive_tabs_item rt2 active">
						<button class="tabs_item"><span class="bi bi-laptop"></span></button>
						<div class="responsive_tabs_item rt3">
							<button class="tabs_item"><span class="bi bi-tablet-landscape"></span></button>
							<div class="responsive_tabs_item rt4">
								<button class="tabs_item"><span class="bi bi-phone"></span></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="separator"></div>

	<div class="web_builder">
		<h1>Testing</h1>
	</div>

	<div class="openclose">
		<span class="bi-code"></span>
	</div>
	<div class="web_builder_tools">
		<div class="builder_tools">
			<div class="builder_tools_header">
				<a href="" class="tools_header_item" title="pages"><span class="bi bi-wallet2"></span></a>
				<a href="" class="tools_header_item active" title="layers"><span class="bi bi-layers-fill"></span></a>
				<a href="" class="tools_header_item" title="style"><span class="bi bi-palette-fill"></span></a>
				<a href="" class="tools_header_item" title="property"><span class="bi bi-ui-radios-grid"></span></a>
				<a href="" class="tools_header_item" title="blocks"><span class="bi bi-grid-1x2-fill"></span></a>
			</div>

			<div class="builder_tools_contain"></div>
		</div>
	</div>

	<script src="/assets/webb/web_builder.js?v=<?=time()?>"></script>
	
</body>
</html>